.gameContent {
    padding-top: 16px;
    width: 96vw;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
}

.field {
    font-weight: bold;
    font-size: 25px;
    min-height: 12vw;
    width: 12vw;
    color: #444;
    border: 1px solid #85dcb0;
    background: #e8a87c;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field:hover {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.column {

}

.visibleField {
    background: #c38d9e;
    box-shadow: 0 0 0 -1px rgb(0, 0, 0);
}

.field1 {
    color: green;
}

.field2 {
    color: dodgerblue;
}

.field3 {
    color: orange;
}

.field4 {
    color: indigo;
}

.field5 {
    color: darkred;
}

.fieldM {
    color: red;
}
