.infoBarContainer {
    padding: 16px;
    background: #e27d60;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.infoBarItem {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.move {
    border-radius: 12px;
    border: 2px solid #88dcb0;
}