:root {
    --input-color: #778888;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    --input-border-focus: #e27d60;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #e8a87c;
}
.nameInput {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}
.nameInput::placeholder {
    color: var(--input-placeholder);
}
.nameInput:focus {
    outline: none;
    border-color: var(--input-border-focus);
}
.inputGroup {
    position: relative;
    display: flex;
    max-width: 300px;
}
.inputGroup > span, .inputGroup .nameInput {
    white-space: nowrap;
    display: block;
}
.inputGroup > span:not(:first-child):not(:last-child), .inputGroup .nameInput:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.inputGroup > span:first-child, .inputGroup .nameInput:first-child {
    border-radius: 6px 0 0 6px;
}
.inputGroup > span:last-child, .inputGroup .nameInput:last-child {
    border-radius: 0 6px 6px 0;
}
.inputGroup > span:not(:first-child), .inputGroup .nameInput:not(:first-child) {
    margin-left: -1px;
}
.inputGroup .nameInput {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.inputGroup > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.inputGroup:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}
