.popupContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
}

.popupText {
    margin-top: 16px;
    font-size: 48px;
}