.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

html, body {
    background: #41B3A3;
    height: 100%;
    margin: 0;
}

.nameInput {
    margin-top: 16px;
    margin-bottom: 16px;
}

.waitingText {
    margin-bottom: 100px;
}

.waiting {
    display: flex;
    flex-direction: column;
    background: #41B3A3;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.nameInputContent {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}